/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px = 1rem */
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* font-family: var(--main-font); */
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 2;
}

:root {
  --primary: #0038b8;
  --secondary: #5c78b8;
  --success: #5880dc;
  --warning: #ffcc00;
  --danger: #ff4136;
  --info: #3c67ca;
  --gray: #808080;
  --dark: #001649;
  --light: #004dff;
}

* {
  border: 1px solid #ff0000;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  all: unset;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.logo--container {
  display: flex;
  align-items: center;
}

.navbar--main {
  display: flex;
  align-items: center;
  border: 1px solid green;
}

.navbar--main ul {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  border: 1px solid blue;
}

.navbar--main li {
  padding: 1rem;
}

.navbar--main a {
  align-items: center;
}

.transform-class {
  width: 40rem;
  height: 40rem;

  padding: 4rem;
  border: none;
  border-radius: 0.8rem;
  margin: 4rem auto;

  background-color: #0038b8;

  display: flex;
  justify-content: center;
  align-items: center;
}

.transform-class .transform-text {
  color: white;
  font-size: 4rem;
  border: none;
}

.transform-class:hover {
  /* Keyword values */
  /* transform: none; */

  /* Function values */
  /* transform: matrix(1, 2, 3, 4, 5, 6); */
  /* transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); */
  /* transform: perspective(17px); */
  /* transform: rotate(0.5turn); */
  /* transform: rotate3d(1, 2, 3, 10deg); */
  /* transform: rotateX(10deg); */
  /* transform: rotateY(10deg); */
  /* transform: rotateZ(10deg); */
  /* transform: translate(12px, 50%); */
  /* transform: translate3d(12px, 50%, 3em); */
  /* transform: translateX(2em); */
  /* transform: translateY(3in); */
  /* transform: translateZ(2px); */
  transform: scale(1.1);
  /* transform: scale3d(2.5, 1.2, 0.3); */
  /* transform: scaleX(2); */
  /* transform: scaleY(0.5); */
  /* transform: scaleZ(0.3); */
  /* transform: skew(30deg, 20deg); */
  /* transform: skewX(30deg); */
  /* transform: skewY(1.07rad); */

  /* Multiple function values */
  /* transform: translateX(10px) rotate(10deg) translateY(5px); */
  /* transform: perspective(500px) translate(10px, 0, 20px) rotateY(3deg); */

  /* Global values */
  /* transform: inherit; */
  /* transform: initial; */
  /* transform: revert; */
  /* transform: revert-layer; */
  /* transform: unset; */
}
